
body {
  font-family: Arial, sans-serif;
  direction: rtl; /* Set right-to-left direction */
}

h1 {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: right; /* Align text to the right */
  @media (max-width: 600px) {
    overflow-x: auto;
    max-width: 100%; /* Take full width on mobile */
    padding: 10px; /* Reduce padding on mobile */
    text-align: center; /* Center align text on mobile */
  }
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.mission-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.mission-table th,
.mission-table td {
  padding: 10px;
  text-align: right; /* Align text to the right */
  border-bottom: 1px solid #ddd;
}

.mission-table th {
  background-color: #f2f2f2;
}

.completed td {
  text-decoration: line-through;
  color: #999;
}

.notes {
  font-style: italic;
}

.exclamation-mark {
  color: black;
}

.important .exclamation-mark {
  color: red;
}

/* Align the table cells */
.mission-table td {
  vertical-align: top;
}

/* Add borders to the table cells */
.mission-table th,
.mission-table td {
  border: 1px solid #ddd;
}

/* Style the importance column */
.mission-table td:nth-child(3) {
  text-align: center;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #333;
}

/* Style the header cells of the mission tables */
.mission-table th:nth-child(3),
.mission-table th:nth-child(4) {
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
}

.button-container button,
.button-container button[type="submit"],
.button-container button[type="button"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  outline: none !important; /* Add this line to remove the black border */
  margin-bottom: 5px; /* Add this line to add a small gap between buttons */
  margin-top: 5px; /* Add this line to add a small gap between buttons */
}

/* Style the "Clear All Missions" and "צור משימה חדשה" buttons*/
.button-container button,
.button-container button[type="submit"],
.button-container button[type="button"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  outline: none !important;
}
.button-container button:hover {
  background-color: #45a049;
  color: white;
  border-radius: 4px;
}

.mission-table .delete-button {
  border: 1px solid #4CAF50; /* Add this line to change the border color */
  background-color: #4CAF50;
  color: black;
  padding-right: 25px; /* Increase the right padding to create a gap */
  position: relative; /* Add this line to position the button */
  left: -5px; /* Adjust the value to move the button to the left */
}

.mission-table .complete-button {
  border: 1px solid #4CAF50; /* Add this line to change the border color */
  background-color: #4CAF50;
  color: white;
  padding-right: 25px; /* Increase the right padding to create a gap */
  position: relative; /* Add this line to position the button */
  left: -5px; /* Adjust the value to move the button to the left */
}

/* Style the "מחק" and "הושלם" buttons */
.mission-table button {
  border: 3px solid #4CAF50; /* Add this line to change the border color */
  background-color: #4CAF50;
  color: white;
  margin-right: 5px;
  border-radius: 4px;
}

.mission-table button:hover {
  background-color: #45a049;
  color: white;
  border-radius: 4px;
}
/*style for the cattegory creation form*/
#category-form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: auto;
  display: inline-block;
}
#category-form-container input[type = "text"],
#category-form-container textarea,
#category-form-container select{
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 40px; /* Set the same height for all text boxes */
  resize: none; /* Prevent resizing by dragging */
  box-sizing: border-box;
}
#category-form-container button
{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  outline: none ;
}
#category-form-container button:hover
{
  background-color: #45a049;
}
/*pop up create category*/
.category-add
{
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Style the mission creation form */
#mission-form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

#mission-form-container input[type="text"],
#mission-form-container textarea,
#mission-form-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 40px; /* Set the same height for all text boxes */
  resize: none; /* Prevent resizing by dragging */
  box-sizing: border-box;
}

/* Style the buttons */
#mission-form-container button,
#mission-form-container button[type="submit"],
#mission-form-container button[type="button"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  outline: none !important;
}

#mission-form-container button:hover,
#mission-form-container button[type="submit"]:hover,
#mission-form-container button[type="button"]:hover {
  background-color: #45a049;
}

.container {
  max-width:  1000px ;
  margin: 0 auto;
  padding: 20px;
}

.button-container {
  margin-bottom: 20px;
}

.mission-table {
  width: 100%;
  border-collapse: collapse;
}

.mission-table th,
.mission-table td {
  padding: 8px;
  text-align: center;
}

.mission-table th {
  background-color: #f2f2f2;
}

.mission-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mission-table tr.dragging {
  opacity: 0.5;
}

.mission-table tr.drag-over {
  background-color: #e0e0e0;
}
.category-table
{
  float: left;
    width: 50%;
    border-collapse: collapse;
}
.category-table th,
.category-table  td
{
  padding: 8px;
  text-align: center;
}
.category-table th
{
  background-color: white;
}

#mission-form-container {
  margin-top: 20px;
}

#mission-form label,
#mission-form input,
#mission-form select,
#mission-form textarea {
  display: block;
  margin-bottom: 10px;
}

#mission-form button {
  margin-top: 10px;
}

#mission-form button[type="button"] {
  margin-left: 10px;
}

.hidden {
  display: none;
}

.folder-row .mission-item {
  background-color: yellow;
}

.folder-contents tr {
  background-color: yellow;
}
.custom-alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.alert-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  margin: auto;
  margin-top: 20%;
}

.alert-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}


.dragButton {
  cursor: move;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.draggedRow {
  position: absolute;
  background-color: #f1f1f1;
  opacity: 0.8;
  z-index: 9999;
}
.animationElement {
  position: absolute;
  background-color: yellow;
  opacity: 0.5;
  pointer-events: none;
  /* Add other styling properties as needed */
}
#back_to_top_button {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 99;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  outline: none !important;
}
#back_to_top_button:hover {
  background-color: #45a049;
}
.topBar 
{
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 20%;
  background-color: #f2f2f2;

}
.topBar h4{
  position: relative;
  right: 40%;
}
.topBar button 
{
  width: 10%;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  outline: none !important;
  text-align: center;
}
#filltered-mission-table-container
{
  background-color: #f2f2f2;
  position: relative;
  overflow-x: auto;
}